/* NAVBAR */
.general-nav {
    height: 90px;
    border-bottom: 1px solid #000;
    color: #000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 18px;
}
@media only screen and (min-width: 767px) {
    .general-nav {
        padding: 0 100px;
    }
}

.general-nav ul {
    list-style-type:none;
    margin-bottom: 0;
    font-size: 16px;
}
.general-nav a {
    color: #000;
}
.general-nav a:hover {
    text-decoration: none;
    color: #f25e33;
}
.general-nav a:active {
    text-decoration: none;
    color: #f25e33 !important;
}
.general-nav a:focus {
    text-decoration: none;
    color: #000;
}

.nav-default-avatar {
    border-radius: 50%;
    margin-left: 6px;
}

/* 
 *
 * USER DASHBOARD PAGE 
 *
 */

/* Background */
.user-dash-container {
    background-image: url('../img/logo-black-faded.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-position-y: 10%;
}
@media only screen and (max-width: 769px) {
    .user-dash-container {
        background-position-y: 0%;
    }
}

/* General Dashboard */
.user-dash-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 769px) {
    .user-dash-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .user-dash-container :nth-child(1){
        order: 2;
    }
    .user-dash-container :nth-child(2){
        order: 1;
    }
    .user-dash-container :nth-child(3){
        order: 3;
    }
}

.user-dash-out-col {
    background-color: #97c266;
    border-radius: 6px;
    padding: 24px 12px;
    overflow: scroll;
}

.user-dash-out-col h4 {
    color: #fff;
    text-transform: uppercase;
}

/* USER DASH MIDDLE COL */
.user-dash-col-middle {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
@media only screen and (min-width: 769px) {
    .user-dash-out-col {
        width: 30vw;
        height: 80vh;
    }
    .user-dash-welcome-text {
        margin-top: 48px;
    }
}
.user-dash-col-middle :nth-child(1){
    order: 1;
}
.user-dash-col-middle :nth-child(2){
    order: 2;
}
.user-dash-col-middle :nth-child(3){
    order: 3;
}

.user-dash-welcome-text {
    margin-bottom: 30px;
}

.user-dash-cta-btn {
    padding: 18px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    border-radius: 6px;
    background-color: #FFA300;
    transition: 0.2s ease;
}
.user-dash-cta-btn:hover {
    background-color: #ffba42;
}

/* Progress Chart */
.user-dash-progress-container-outer {
    padding: 24px;
    background-color: #97c266;
    border-radius: 6px;
}
@media only screen and (max-width: 900px) {
    /* Do not show on mobile */
    .user-dash-progress-container-outer {
        display: none ;
    }
    
    /* Seperate the columns on mobile */
    .mb-24-mobile {
        margin-bottom: 24px;
    }
    .mb-48-mobile {
        margin-bottom: 48px;
    }
}
.user-dash-progress-container-inner {
    width: 30vw;
    height: 36vh;
    background-color: #fff;
    border-radius: 6px;
}

/* USER DASH LEFT COL */
.user-dash-video-container {
    background-color: #f8d23b;
    border-radius: 6px;
    padding: 18px 24px;
    margin: 9px 0;
}

.user-dash-video-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-dash-video-attributes span {
    font-weight: bold;
}

.user-dash-video-att-title {
    font-weight: bold;

}

.user-dash-video-att-value {
    color: #fff;
}

/* Remove later */
.user-dash-video {
    background-color: black;
}

/* USER DASH RIGHT COL */





/* 
 *
 * ACCOUNT PAGE 
 *
 */
.user-acc-mt-24 {
    margin-top: 24px;
 }
 .user-acc-mt-48 {
     margin-top: 48px;
 }

.user-acc-info-container {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 769px) {
    .user-acc-info-container {
        width: 60vw;
    }
}
.user-acc-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.user-acc-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.ml-60 {
    margin-left: 60px;
}


/* Clear floats after the columns */
.user-acc-row:after {
    content: "";
    display: table;
    clear: both;
}

.user-acc-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.user-acc-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.user-acc-radio-input {
    display: flex;
    flex-direction: row;
    padding: 12px 12px 12px 0;
}

.user-acc-save-btn-container {
    display: flex;
    justify-content: center;
}

.user-acc-save-btn {
    position: relative !important;
    margin: 60px 0 24px 0 !important;
    padding: 12px 36px;
    font-weight: bold;
    font-size: 18px;
    background-color: #97c266;
    color: #fff;
    border-radius: 6px;
    transition: 0.2s ease;
}

.user-acc-save-btn:hover {
    background-color: #76a540;
}


/* New Layout for Video Item */
.user-dash-video-item-container {
    background-color: #f8d23b;
    border-radius: 3px;
    display: flex;
    padding: 6px;
    margin: 9px 0;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.12);
}
.user-dash-info-title {
    margin-left: 12px;
    color: #fff;
}

.user-dash-info {
    order: 1;
    width: 100%;
    text-align: left;
}
.user-dash-info-attributes {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.user-dash-info-attributes > * {
    margin-left: 12px;
}
.user-dash-video-wrapper {
    background-color: #000;
    width: 120px;
    height: 80px;
}
.user-dash-video-wrapper video {

}
/* Responsiveness */
@media only screen and (min-width: 700px) and (max-width: 900px) {
    .user-dash-container {
        display: block;
        height: 100vh;
    }
    .user-dash-out-col {
        width: 49%;
    }
    .user-dash-col-left {
        float: left;
    }
    .user-dash-col-right {
        float: right;
    }
}
@media only screen and (max-width: 1200px) {
    .user-dash-video-item-container {
        flex-direction: column;
    }
    .user-dash-video-wrapper {
        width: 100%;
        height: 150px;
    }
    .user-dash-info-title {
        text-align: center;
        margin-top: 12px;
        margin-left: 0;
    }
    .user-dash-info-attributes {
        margin-bottom: 9px;
        justify-content: space-around;
    }
    .user-dash-info-attributes > * {
        text-align: center;
        margin-left: 0;
    }
}


